[ v3_ca ]
basicConstraints = CA:FALSE
subjectKeyIdentifier=hash
extendedKeyUsage = serverAuth
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = *.localhost
DNS.2 = domain.localhost
DNS.3 = *.domain.localhost
