[ ca ]
default_ca = CA_default

[ CA_default ]
default_md = sha256
default_days = 24854
policy = my_policy
x509_extensions = v3_ca
database = database/index.txt
serial = database/serial
copy_extensions = copyall

[ my_policy ]
countryName = match
stateOrProvinceName = supplied
organizationName = supplied
organizationalUnitName = optional
commonName = supplied
